*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 160px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 24px;
    align-items: center;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    
}
.hero-container{
    background-color: #1f2937;
    height: 500px;
    padding: 0 160px;
    display: flex;
    color: #f9faf8;
    gap: 40px;
}
.hero-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-item *{
    margin: 8px 0;
}
.hero-title{
    font-size: 48px;
    font-weight: 900;
}
.hero-text, .action-card p{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    padding: 12px 24px;
    background-color: #3882f6;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 10px;
    
}
.hero-img{
    width: 500px;
    height: 240px;
    object-fit: cover;
}
.information, .signup-container{
    padding: 160px;
}
.information-title{
    text-align: center;
    padding-bottom: 50px;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}
.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    color: #505a67;
    font-size: 18px;
}
.card-img{
    object-fit: cover;
    width: 175px;
    height: 175px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}
.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e5e7eb;
    padding: 160px 260px;
}
blockquote{
    color:#1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
figcaption{
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}
.action-card{
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 50px 80px;
}
.action-card > button{
    flex: 0 0 160px;
    border: 2px solid white;
}
.card-text h2{
    color: #fff;
    padding-bottom: 5px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background-color: #1f2937;
    color: #e5e7eb;
}